# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=paldb
MYSQL_USER=pal
MYSQL_PASSWORD=pal
MYSQL_PORT=3306

# Backend Go
BACKEND_PORT=8080

# Frontend Next.js
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://backend:8080
